<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header class="site-header">
        <div class="header-left">
            <h1 class="logo">My Portfolio</h1>
        </div>

        <div class="header-right">
            <span class="guest-badge" th:text="${guestNickname}">guest-0001</span>
        </div>
    </header>

    <main class="content">
        <section class="hero">
            <h2>포트폴리오</h2>
            <p>이 페이지는 Spring Boot 기반으로 구성된 메인 화면입니다. </p>
            <p>현재 게스트 닉네임이 자동으로 생성되어 표시되고 있습니다.</p>
        </section>

        <section class="body-sample">
            <h3>배포중인 서비스</h3>
            <p>
                <a class="main-link-button" th:href="@{/paintchat/list}">그림 채팅방 목록으로 가기</a>
            </p>
            
            
        </section>
    </main>
</body>
</html>
